* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand-color: #9333ea;
  --color-brand-color-light: #a855f7;
  --color-brand-color-lighter: #c084fc;
  --color-text-color-primary: #f9fafb;
  --color-text-color-secondary: #e4e4e7;
  --color-close-button-color: #a1a1aa;
  --color-stroke-color: #3f3f46;
  --color-surface-color: #18181b;
  --color-background-color: #09090b;

  --default-padding: 3.2rem;

  background-color: var(--color-background-color);
  color: var(--color-text-color-primary);
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 8rem;
  background-color: var(--color-stroke-color);
}
::-webkit-scrollbar-track {
  background-color: var(--color-background-color);
}

body {
  font-size: 1.6rem;
}

.cart {
  width: 428px;

  display: grid;
  height: 100vh;
  grid-template-rows: max-content 1fr max-content;
  margin-left: auto;

  background-color: var(--color-surface-color);
}

.cart header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem var(--default-padding);
  font-size: 2rem;
  border-bottom: 0.1rem solid var(--color-stroke-color);
}

.close {
  cursor: pointer;
}

.cart main {
  padding: var(--default-padding);
  display: grid;
  row-gap: 4.8rem;
  overflow-y: auto;
}

.item {
  display: flex;
  gap: 2.4rem;
  height: 10.4rem;
}

.product-image {
  object-fit: cover;
  border-radius: 0.8rem;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-total {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-amount {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-auto-rows: 4rem;
}

.product-amount span {
  display: grid;
  place-items: center;
}

.product-amount button {
  color: var(--color-brand-color-light);
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: transparent;
  line-height: 0;
  font-size: 1.25rem;
  transition: all 0.2s;
}

.sub {
  border: 1.5px solid var(--color-stroke-color);
}

.sub:hover {
  color: white;
  border-color: var(--color-brand-color-light);
}

.add {
  border: 1.5px solid var(--color-brand-color-light);
}

.add:hover {
  color: var(--color-text-color-primary);
  background-color: var(--color-brand-color);
}

.cart footer {
  padding: var(--default-padding);
  display: grid;
  gap: 3.2rem;
  border-top: 1px solid var(--color-stroke-color);
}

.purchase-total {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.add-coupon {
  cursor: pointer;
  color: var(--color-brand-color-light);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  margin-top: -1.6rem;
}

.add-coupon:hover {
  color: var(--color-brand-color-lighter);
}

.add-coupon i {
  font-size: 2rem;
}

.buy-button {
  cursor: pointer;
  border: 0;
  color: var(--color-text-color-primary);
  background-color: var(--color-brand-color);
  padding-block: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0.8rem;
}

.buy-button:hover {
  transition: 0.2s;
  background-color: var(--color-brand-color-light);
}
